[submodule "src/requirejs"]
	path = src/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "src/mustache"]
	path = src/mustache
	url = https://github.com/janl/mustache.js.git
[submodule "src/has"]
	path = src/has
	url = https://github.com/phiggins42/has.js.git
